header(class="header js-header")
	.header_inner
		p(class="header_logo")
			a(href="./")
				img(src="images/logo-wh.svg" alt="Tokyo Trael")
		button(class="header_hamburger js-hamburgerBtn is-sp")
		nav(class="header_nav-pc is-pc")
			ul.header_nav
				li
					a(href="#TOP") TOP
				li
					a(href="#RELEASE") RELEASE
				li
					a(href="#STORY") ABOUT
				li
					a(href="#hero") STORY
				li
					a(href="#FESTIVAL") FESTIVAL
				li
					a(href="#FOOTER") CONTACT
	nav(class="header_nav-sp js-navList is-sp")
		ul.header_nav
			li
				a(href="#TOP") TOP
			li
				a(href="#RELEASE") RELEASE
			li
				a(href="#STORY") ABOUT
			li
				a(href="#hero") STORY
			li
				a(href="#FESTIVAL") FESTIVAL
			li
				a(href="#FOOTER") CONTACT